# APP NAME
VITE_APP_NAME=<VITE_APP_NAME>

# API URL
VITE_GRAPHQL_ENDPOINT=<VITE_GRAPHQL_ENDPOINT>

# IndexedDB KEY
VITE_INDEXEDDB_DB_NAME=<VITE_INDEXEDDB_DB_NAME>

# VITE CRYPT SECRET
VITE_CRYPTO_SECRET=<VITE_CRYPTO_SECRET>